.form-container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform {
    width: 25rem;
}

mat-hint {
    text-align: center;
}

.slider {
    font-size: 1.1rem;
}
