.container {
    font-size: 1.3rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.table {
    margin-top: 3rem;
}

.mat-column-id {
    flex: 0 0 10%;
}

.mat-column-name {
    flex: 0 0 30%;
}

.mat-column-phone {
    flex: 0 0 25%;
}

.mat-column-email {
    flex: 0 0 35%;
}
